@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');
body {
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}

.rate-container {
    background-color:#212832;
    width: 25%;
    height: 19rem;
    border-radius: 20px;
    padding: 2rem;
}

.icon-img {
    background-color: #262f38;
    border-radius: 100%;
    padding: 0.5rem;
}

.rate-container h1 {
    color: white;
}

.rate-container p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin-top: -0.5rem;
}

.rate-container .btn {
    padding: 1rem 1.2rem;
    border-radius: 100%;
    margin-top: 0.5rem;
    background-color: #262f38;
    border: none;
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
}

.rate-container .active {
    background-color: hsl(217, 12%, 63%);
    color: white;

}

.rate-container .btn:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;

}

.btn-2, .btn-3, .btn-4, .btn-5 {
    margin-left: 1rem;
}

.submit-btn {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 0.5rem 9rem;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thanks-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:hsl(216, 12%, 8%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active.thanks-container{
    visibility: hidden;
}

.thanks {
    text-align: center;
}

.thanks-container .rate-container .p {
    background-color: #262f38;
    padding: 0.3rem 0;
    width: 12rem;
    border-radius: 3rem;
    margin: 1rem auto 0;
    color: hsl(25, 97%, 53%);
}

span {
    color: white;
}

@media (max-width:1280px) {

    .rate-container {
      width: 27%;
      
    }
    
    .submit-btn {
        margin-right: 2rem;
    } 

    
}

@media (max-width:1200px) {

    .rate-container {
      width: 30%;
      
    }
    
}

@media (max-width:1070px) {

    .rate-container {
      width: 35%;
    }
    
}

@media (max-width:940px) {

    .rate-container {
      width: 35%;
    }
    
}

@media (max-width:920px) {

    .rate-container {
      width: 38%;
    }
    
}

@media (max-width:850px) {

    .rate-container {
      width: 45%;
    }
    
}

@media (max-width:720px) {

    .rate-container {
      width: 50%;
    }
    
}

@media (max-width:650px) {

    .rate-container {
      width: 55%;
    }
    
}

@media (max-width:590px) {

    .rate-container {
      width: 60%;
    }
    
}

@media (max-width:543px) {

    .rate-container {
      width: 65%;
    }
    
}

@media (max-width:503px) {

    .rate-container {
      width: 70%;
    }
    
}

@media (max-width:450px) {

    .rate-container {
      width: 75%;
    }
    
}

@media (max-width:420px) {

    .rate-container {
      width: 85%;
      margin: 0 2rem;
    }
    
}

@media (max-width:372px) {

    .rate-container {
      width: 90%;
    }

}

@media (max-width:351px) {
    .rate-container {
        width: auto;
    }
    
}
